.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-auto-rows: minmax(50px, auto);
}

.container {
    width: 250px;
    height: 250px;
    border: 2px solid black;
}

.case {
    background-color: white;
    border: 1px solid red;

}

