:root {
    --maze-width: 3;
    --maze-ex: "ex-0";
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(var(--maze-width), 50px);
    grid-auto-rows: minmax(50px, auto);
    background-color: white;
    color: white;
}

.container {
    width: 250px;
    height: 250px;
}

